# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
#Locate and load CSV data from WeatherPy exercise
City_Data_File = os.path.join('..','WeatherPy','output_data','cities.csv')
City_Data = pd.read_csv(City_Data_File)
City_Data.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,San Vicente,-26.6167,-54.1333,57.81,76,0,2.55,AR,1619935121
1,1,Rikitea,-23.1203,-134.9692,77.00,76,89,14.70,PF,1619935121
2,2,Dikson,73.5069,80.5464,27.82,86,98,4.90,RU,1619935122
3,3,Punta Arenas,-53.1500,-70.9167,39.20,81,75,14.97,CL,1619935122
4,4,Talovaya,51.1144,40.7300,59.32,64,95,6.24,RU,1619935123

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
#Configure gmaps
gmaps.configure(api_key = g_key)

In [13]:
# Store 'Lat' and 'Lng' into  locations and Humidity into Weight
Locations = City_Data[["Lat", "Lng"]].astype(float)
Humidity = City_Data["Humidity"].astype(float)
Max_Humidity = Humidity.max()

#Add Heatmap layer to map.
fig = gmaps.figure()

Heat_Layer = gmaps.heatmap_layer(Locations, weights = Humidity, 
                                 dissipating = False, max_intensity = Max_Humidity,
                                 point_radius = 5)

fig.add_layer(Heat_Layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
#Narrow down the cities to fit weather conditions of: Max Temp ranges, Wind Speeds, Cloudiness
#Drop any rows with nulls
Preferred_Cities = City_Data.loc[(City_Data["Max Temp"] > 70) & (City_Data["Max Temp"] < 85) & (City_Data["Wind Speed"] < 10) & (City_Data['Cloudiness'] < 10)]
Preferred_Cities = Preferred_Cities.dropna(how = 'any')

Preferred_Cities

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
46,46,Atuona,-9.8000,-139.0333,79.65,70,8,8.93,PF,1619935140
60,60,Kiryat Gat,31.6100,34.7642,79.00,36,5,1.01,IL,1619935146
105,105,Esna,25.2934,32.5540,80.60,21,9,2.30,EG,1619935165
109,109,Murgab,37.4966,61.9714,80.60,34,0,6.91,TM,1619935167
141,141,Cabo San Lucas,22.8909,-109.9124,72.00,71,2,9.57,MX,1619935155
156,156,Saint-Philippe,-21.3585,55.7679,84.20,54,0,3.44,RE,1619935185
173,173,Iralaya,15.0000,-83.2333,79.63,77,0,9.44,HN,1619935193
221,221,Saint-Pierre,-21.3393,55.4781,84.20,54,0,3.44,RE,1619935214
232,232,Kilis,36.7161,37.1150,73.40,31,0,7.63,TR,1619935219
238,238,Antalaha,-14.9003,50.2788,81.32,72,5,2.51,MG,1619935221
277,277,Tahoua,14.8888,5.2692,78.80,14,0,2.30,NE,1619935236
295,295,Saint Anthony,45.0205,-93.2180,73.40,27,1,6.91,US,1619935244
357,357,Ambilobe,-13.2000,49.0500,81.66,72,9,2.93,MG,1619935270
450,450,Şile,41.1754,29.6133,71.60,60,0,4.61,TR,1619935307
453,453,Saint-Joseph,-21.3667,55.6167,84.20,54,0,3.44,RE,1619935308
484,484,Lakefield,43.6775,-95.1717,71.60,28,1,9.22,US,1619935320

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure